<a href="https://colab.research.google.com/github/nguyenthanh222/HelloWorld/blob/main/Lab01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Câu 1

In [1]:
#Gọi thư viện pandas 
import pandas as pd 
dulieuxettuyendaihoc = pd.read_csv('https://raw.githubusercontent.com/DuanWork/PhanTichDuLieu/main/DataAnalystDeepLearning/Data/dulieuxettuyendaihoc.csv')
print(dulieuxettuyendaihoc)

    STT   T1   L1   H1   S1   V1   X1   D1   N1   T2  ...   X6   D6   N6  GT  \
0     1  7.2  7.3  6.3  7.3  7.0  7.9  7.3  5.5  8.4  ...  6.6  7.6  5.9   F
1     2  5.4  3.9  3.9  4.0  5.4  5.4  5.3  2.8  6.3  ...  6.6  6.1  4.4   M
2     3  5.6  6.8  7.2  7.5  4.3  7.4  5.8  3.2  5.0  ...  7.9  8.1  4.6   M
3     4  6.6  6.4  5.3  6.9  5.4  7.3  6.4  5.8  5.1  ...  7.1  7.3  7.4   M
4     5  6.0  5.0  6.0  7.3  6.5  7.7  7.9  6.1  5.4  ...  6.1  7.5  7.2   M
..  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ..
95   96  8.6  6.9  7.4  8.8  7.6  5.8  7.3  5.7  8.9  ...  6.3  6.1  6.2   F
96   97  3.7  5.4  6.0  5.1  5.5  3.9  6.1  4.4  4.1  ...  7.9  7.5  4.4   F
97   98  8.8  5.5  7.4  7.7  6.2  7.3  8.1  4.5  9.5  ...  9.6  8.4  5.8   M
98   99  2.7  1.8  3.4  5.3  4.5  7.9  4.9  3.8  2.8  ...  6.6  5.2  5.9   M
99  100  4.1  5.2  4.9  5.3  5.5  5.4  7.2  5.4  4.4  ...  5.6  6.6  5.8   M

    DT   KV   DH1   DH2   DH3  KT
0  NaN  2NT  3.25  3.25  4.50  A1
1  NaN    1  6.00  4.00  3.50   C
2  NaN    1  5.00  6.75  4.00   C
3  NaN    1  4.25  4.25  5.25  D1
4  NaN  2NT  4.25  4.50  5.00   A
..  ..  ...   ...   ...   ...  ..
95 NaN    1  5.25  1.50  6.25   C
96 NaN    1  5.25  3.75  4.75   C
97 NaN  2NT  7.00  8.00  4.00   C
98 NaN    1  5.00  3.50  5.50   C
99 NaN  2NT  5.25  2.50  4.25   C

[100 rows x 56 columns]

In [2]:
dulieuxettuyendaihoc.dtypes # xác định kiểu dữ liệu

STT      int64
T1     float64
L1     float64
H1     float64
S1     float64
V1     float64
X1     float64
D1     float64
N1     float64
T2     float64
L2     float64
H2     float64
S2     float64
V2     float64
X2     float64
D2     float64
N2     float64
T3     float64
L3     float64
H3     float64
S3     float64
V3     float64
X3     float64
D3     float64
N3     float64
T4     float64
L4     float64
H4     float64
S4     float64
V4     float64
X4     float64
D4     float64
N4     float64
T5     float64
L5     float64
H5     float64
S5     float64
V5     float64
X5     float64
D5     float64
N5     float64
T6     float64
L6     float64
H6     float64
S6     float64
V6     float64
X6     float64
D6     float64
N6     float64
GT      object
DT     float64
KV      object
DH1    float64
DH2    float64
DH3    float64
KT      object
dtype: object

# Câu 3. Sử dụng Python để tải dữ liệu lên chương trình và in ra màn hình 10 dòng đầu tiên và 10 dòng cuối cùng

In [3]:
dulieuxettuyendaihoc.head(10) # in ra 10 dòng đầu tiên

,STT,T1,L1,H1,S1,V1,X1,D1,N1,T2,...,X6,D6,N6,GT,DT,KV,DH1,DH2,DH3,KT
0,1,7.2,7.3,6.3,7.3,7.0,7.9,7.3,5.5,8.4,...,6.6,7.6,5.9,F,NaN,2NT,3.25,3.25,4.50,A1
1,2,5.4,3.9,3.9,4.0,5.4,5.4,5.3,2.8,6.3,...,6.6,6.1,4.4,M,NaN,1,6.00,4.00,3.50,C
2,3,5.6,6.8,7.2,7.5,4.3,7.4,5.8,3.2,5.0,...,7.9,8.1,4.6,M,NaN,1,5.00,6.75,4.00,C
3,4,6.6,6.4,5.3,6.9,5.4,7.3,6.4,5.8,5.1,...,7.1,7.3,7.4,M,NaN,1,4.25,4.25,5.25,D1
4,5,6.0,5.0,6.0,7.3,6.5,7.7,7.9,6.1,5.4,...,6.1,7.5,7.2,M,NaN,2NT,4.25,4.50,5.00,A
5,6,9.3,7.6,7.9,8.6,7.0,7.3,7.7,7.9,9.6,...,5.7,8.0,7.8,M,NaN,1,1.50,4.00,6.00,D1
6,7,2.8,3.9,5.5,6.9,5.0,7.3,4.6,5.2,4.4,...,6.6,6.0,6.0,F,NaN,2,6.50,6.75,5.25,C
7,8,8.3,6.0,7.6,5.1,7.5,4.7,5.8,7.2,6.7,...,7.1,6.8,7.0,F,NaN,2,3.75,4.50,4.25,D1
8,9,6.5,6.3,7.6,6.0,5.5,7.1,6.3,5.0,7.3,...,9.1,7.9,6.1,F,NaN,1,3.50,3.50,6.75,D1
9,10,7.3,5.9,4.7,7.1,6.7,7.9,6.7,7.7,8.0,...,6.4,6.1,7.8,F,NaN,1,4.00,4.75,5.50,D1

In [4]:
dulieuxettuyendaihoc.tail(10)# in ra 10 dòng cuối

,STT,T1,L1,H1,S1,V1,X1,D1,N1,T2,...,X6,D6,N6,GT,DT,KV,DH1,DH2,DH3,KT
90,91,8.1,7.7,9.1,8.5,6.1,8.6,8.8,7.3,8.8,...,8.3,8.7,7.8,M,NaN,2,6.25,4.00,6.50,A
91,92,7.8,6.5,6.7,5.4,6.2,4.8,5.9,4.4,8.9,...,7.2,7.4,7.0,M,NaN,2NT,4.75,4.75,4.50,A
92,93,5.0,6.6,6.5,7.2,5.8,6.7,6.4,6.0,6.8,...,5.9,6.7,5.8,M,NaN,1,3.25,5.25,4.25,A
93,94,5.2,5.2,6.8,7.9,6.6,8.9,7.6,5.3,6.8,...,8.7,7.8,5.0,M,NaN,1,3.50,4.25,5.00,A
94,95,5.8,5.9,7.6,6.1,5.3,8.1,6.1,5.0,6.4,...,7.3,6.8,5.3,M,NaN,1,4.25,2.50,4.75,A
95,96,8.6,6.9,7.4,8.8,7.6,5.8,7.3,5.7,8.9,...,6.3,6.1,6.2,F,NaN,1,5.25,1.50,6.25,C
96,97,3.7,5.4,6.0,5.1,5.5,3.9,6.1,4.4,4.1,...,7.9,7.5,4.4,F,NaN,1,5.25,3.75,4.75,C
97,98,8.8,5.5,7.4,7.7,6.2,7.3,8.1,4.5,9.5,...,9.6,8.4,5.8,M,NaN,2NT,7.00,8.00,4.00,C
98,99,2.7,1.8,3.4,5.3,4.5,7.9,4.9,3.8,2.8,...,6.6,5.2,5.9,M,NaN,1,5.00,3.50,5.50,C
99,100,4.1,5.2,4.9,5.3,5.5,5.4,7.2,5.4,4.4,...,5.6,6.6,5.8,M,NaN,2NT,5.25,2.50,4.25,C

# Câu 4 Thống kê dữ liệu thiếu cho cột dân tộc và hiệu chỉnh dữ liệu thiếu như sau: Mặc định thiếu thì điền giá trị 0

In [5]:
dulieuxettuyendaihoc["DT"].fillna(0, inplace=True )

#Câu 5: Thống kê dữ liệu thiếu cho biến T1 và hiệu chỉnh dữ liệu, lưu ý việc thay thế dữ liệu thiếu sử dụng phương pháp Mean. Hàm mean là tính giá trị tr

In [6]:
dulieuxettuyendaihoc["T1"].fillna(dulieuxettuyendaihoc["T1"].mean(), inplace=True) 
print(dulieuxettuyendaihoc)

    STT   T1   L1   H1   S1   V1   X1   D1   N1   T2  ...   X6   D6   N6  GT  \
0     1  7.2  7.3  6.3  7.3  7.0  7.9  7.3  5.5  8.4  ...  6.6  7.6  5.9   F
1     2  5.4  3.9  3.9  4.0  5.4  5.4  5.3  2.8  6.3  ...  6.6  6.1  4.4   M
2     3  5.6  6.8  7.2  7.5  4.3  7.4  5.8  3.2  5.0  ...  7.9  8.1  4.6   M
3     4  6.6  6.4  5.3  6.9  5.4  7.3  6.4  5.8  5.1  ...  7.1  7.3  7.4   M
4     5  6.0  5.0  6.0  7.3  6.5  7.7  7.9  6.1  5.4  ...  6.1  7.5  7.2   M
..  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ..
95   96  8.6  6.9  7.4  8.8  7.6  5.8  7.3  5.7  8.9  ...  6.3  6.1  6.2   F
96   97  3.7  5.4  6.0  5.1  5.5  3.9  6.1  4.4  4.1  ...  7.9  7.5  4.4   F
97   98  8.8  5.5  7.4  7.7  6.2  7.3  8.1  4.5  9.5  ...  9.6  8.4  5.8   M
98   99  2.7  1.8  3.4  5.3  4.5  7.9  4.9  3.8  2.8  ...  6.6  5.2  5.9   M
99  100  4.1  5.2  4.9  5.3  5.5  5.4  7.2  5.4  4.4  ...  5.6  6.6  5.8   M

     DT   KV   DH1   DH2   DH3  KT
0   0.0  2NT  3.25  3.25  4.50  A1
1   0.0    1  6.00  4.00  3.50   C
2   0.0    1  5.00  6.75  4.00   C
3   0.0    1  4.25  4.25  5.25  D1
4   0.0  2NT  4.25  4.50  5.00   A
..  ...  ...   ...   ...   ...  ..
95  0.0    1  5.25  1.50  6.25   C
96  0.0    1  5.25  3.75  4.75   C
97  0.0  2NT  7.00  8.00  4.00   C
98  0.0    1  5.00  3.50  5.50   C
99  0.0  2NT  5.25  2.50  4.25   C

[100 rows x 56 columns]

#Câu 6: Hãy thực hiện xử lý lần lượt tất cả dữ liệu thiếu cho các biến về điểm số còn lại.

In [7]:
dulieuxettuyendaihoc.dtypes

STT      int64
T1     float64
L1     float64
H1     float64
S1     float64
V1     float64
X1     float64
D1     float64
N1     float64
T2     float64
L2     float64
H2     float64
S2     float64
V2     float64
X2     float64
D2     float64
N2     float64
T3     float64
L3     float64
H3     float64
S3     float64
V3     float64
X3     float64
D3     float64
N3     float64
T4     float64
L4     float64
H4     float64
S4     float64
V4     float64
X4     float64
D4     float64
N4     float64
T5     float64
L5     float64
H5     float64
S5     float64
V5     float64
X5     float64
D5     float64
N5     float64
T6     float64
L6     float64
H6     float64
S6     float64
V6     float64
X6     float64
D6     float64
N6     float64
GT      object
DT     float64
KV      object
DH1    float64
DH2    float64
DH3    float64
KT      object
dtype: object

In [8]:
dulieufloat = dulieuxettuyendaihoc.dtypes == float 
cotfloat = dulieuxettuyendaihoc.columns[dulieufloat].tolist() 
print(cotfloat)

['T1', 'L1', 'H1', 'S1', 'V1', 'X1', 'D1', 'N1', 'T2', 'L2', 'H2', 'S2', 'V2', 'X2', 'D2', 'N2', 'T3', 'L3', 'H3', 'S3', 'V3', 'X3', 'D3', 'N3', 'T4', 'L4', 'H4', 'S4', 'V4', 'X4', 'D4', 'N4', 'T5', 'L5', 'H5', 'S5', 'V5', 'X5', 'D5', 'N5', 'T6', 'L6', 'H6', 'S6', 'V6', 'X6', 'D6', 'N6', 'DT', 'DH1', 'DH2', 'DH3']

In [9]:
for col in cotfloat : 
  dulieuxettuyendaihoc[col].fillna(dulieuxettuyendaihoc[col].mean(),inplace = True)   
dulieuxettuyendaihoc.head()

,STT,T1,L1,H1,S1,V1,X1,D1,N1,T2,...,X6,D6,N6,GT,DT,KV,DH1,DH2,DH3,KT
0,1,7.2,7.3,6.3,7.3,7.0,7.9,7.3,5.5,8.4,...,6.6,7.6,5.9,F,0.0,2NT,3.25,3.25,4.50,A1
1,2,5.4,3.9,3.9,4.0,5.4,5.4,5.3,2.8,6.3,...,6.6,6.1,4.4,M,0.0,1,6.00,4.00,3.50,C
2,3,5.6,6.8,7.2,7.5,4.3,7.4,5.8,3.2,5.0,...,7.9,8.1,4.6,M,0.0,1,5.00,6.75,4.00,C
3,4,6.6,6.4,5.3,6.9,5.4,7.3,6.4,5.8,5.1,...,7.1,7.3,7.4,M,0.0,1,4.25,4.25,5.25,D1
4,5,6.0,5.0,6.0,7.3,6.5,7.7,7.9,6.1,5.4,...,6.1,7.5,7.2,M,0.0,2NT,4.25,4.50,5.00,A

In [10]:
dulieuxettuyendaihoc.isnull().values.any()

False

# Câu 7  Tạo các biến TBM1, TBM2, TBM3 tương ứng với trung bình môn của các năm lớp 10, 11 và
# 12.Công thức tính: TBM = (T*2 + L + H + S + V*2 + X + D + N) / 10

In [11]:
for i in ["1","2","6"]:
  dulieuxettuyendaihoc["TBM"+i] = (dulieuxettuyendaihoc["T"+i]*2 + dulieuxettuyendaihoc["L"+i] +dulieuxettuyendaihoc["H"+i] + dulieuxettuyendaihoc["S" + i]+ dulieuxettuyendaihoc["V"+i]*2 +dulieuxettuyendaihoc["X"+i] + dulieuxettuyendaihoc["D"+i] + dulieuxettuyendaihoc["N"+i])/10 
dulieuxettuyendaihoc.head()

,STT,T1,L1,H1,S1,V1,X1,D1,N1,T2,...,GT,DT,KV,DH1,DH2,DH3,KT,TBM1,TBM2,TBM6
0,1,7.2,7.3,6.3,7.3,7.0,7.9,7.3,5.5,8.4,...,F,0.0,2NT,3.25,3.25,4.50,A1,7.00,7.54,7.01
1,2,5.4,3.9,3.9,4.0,5.4,5.4,5.3,2.8,6.3,...,M,0.0,1,6.00,4.00,3.50,C,4.69,5.47,5.07
2,3,5.6,6.8,7.2,7.5,4.3,7.4,5.8,3.2,5.0,...,M,0.0,1,5.00,6.75,4.00,C,5.77,5.38,6.04
3,4,6.6,6.4,5.3,6.9,5.4,7.3,6.4,5.8,5.1,...,M,0.0,1,4.25,4.25,5.25,D1,6.21,5.20,6.88
4,5,6.0,5.0,6.0,7.3,6.5,7.7,7.9,6.1,5.4,...,M,0.0,2NT,4.25,4.50,5.00,A,6.50,6.36,6.99

In [12]:
for i in ["1","2","6"] : 
  print("TBM"+i)

TBM1
TBM2
TBM6

In [13]:
dulieuxettuyendaihoc.rename(columns={"TBM6":"TBM3"},inplace=True) 
dulieuxettuyendaihoc.head()

,STT,T1,L1,H1,S1,V1,X1,D1,N1,T2,...,GT,DT,KV,DH1,DH2,DH3,KT,TBM1,TBM2,TBM3
0,1,7.2,7.3,6.3,7.3,7.0,7.9,7.3,5.5,8.4,...,F,0.0,2NT,3.25,3.25,4.50,A1,7.00,7.54,7.01
1,2,5.4,3.9,3.9,4.0,5.4,5.4,5.3,2.8,6.3,...,M,0.0,1,6.00,4.00,3.50,C,4.69,5.47,5.07
2,3,5.6,6.8,7.2,7.5,4.3,7.4,5.8,3.2,5.0,...,M,0.0,1,5.00,6.75,4.00,C,5.77,5.38,6.04
3,4,6.6,6.4,5.3,6.9,5.4,7.3,6.4,5.8,5.1,...,M,0.0,1,4.25,4.25,5.25,D1,6.21,5.20,6.88
4,5,6.0,5.0,6.0,7.3,6.5,7.7,7.9,6.1,5.4,...,M,0.0,2NT,4.25,4.50,5.00,A,6.50,6.36,6.99

# Câu 8 Tạo các biến xếp loại XL1, XL2 và XL3 dựa trên TBM1,TBM2 và TBM3 cho từng năm lớp
# 10, 11, 12 như sau:
#  Nhỏ hơn 5.0 xếp loại: yếu (kí hiệu là Y)
#  Từ 5.0 đến dưới 6.5: trung bình (kí hiệu là TB)
#  Từ 6.5 đến dưới 8.0: khá (kí hiệu là K)
#  Từ 8.0 đến dưới 9.0: giỏi (kí hiệu là G)
#  Từ 9.0 trở lên: xuất sắc (kí hiệu là XS)

In [14]:
for i in ["1","2","3"] : 
  dulieuxettuyendaihoc.loc[dulieuxettuyendaihoc["TBM"+i] < 5.0,"XL"+i] = "Y" 
  dulieuxettuyendaihoc.loc[(dulieuxettuyendaihoc["TBM"+i] >= .0) & (dulieuxettuyendaihoc["TBM"+i] < 6.5),"XL"+i] ="TB"  
  dulieuxettuyendaihoc.loc[(dulieuxettuyendaihoc["TBM"+i] >=6.5) & (dulieuxettuyendaihoc["TBM"+i] < 8.0),"XL"+i] ="K" 
  dulieuxettuyendaihoc.loc[(dulieuxettuyendaihoc["TBM"+i] >= 8.0) & (dulieuxettuyendaihoc["TBM"+i] < 9.0),"XL"+i] ="G" 
  dulieuxettuyendaihoc.loc[(dulieuxettuyendaihoc["TBM"+i] >= 9.0) ,"XL"+i] ="XS"
dulieuxettuyendaihoc.head()

,STT,T1,L1,H1,S1,V1,X1,D1,N1,T2,...,DH1,DH2,DH3,KT,TBM1,TBM2,TBM3,XL1,XL2,XL3
0,1,7.2,7.3,6.3,7.3,7.0,7.9,7.3,5.5,8.4,...,3.25,3.25,4.50,A1,7.00,7.54,7.01,K,K,K
1,2,5.4,3.9,3.9,4.0,5.4,5.4,5.3,2.8,6.3,...,6.00,4.00,3.50,C,4.69,5.47,5.07,TB,TB,TB
2,3,5.6,6.8,7.2,7.5,4.3,7.4,5.8,3.2,5.0,...,5.00,6.75,4.00,C,5.77,5.38,6.04,TB,TB,TB
3,4,6.6,6.4,5.3,6.9,5.4,7.3,6.4,5.8,5.1,...,4.25,4.25,5.25,D1,6.21,5.20,6.88,TB,TB,K
4,5,6.0,5.0,6.0,7.3,6.5,7.7,7.9,6.1,5.4,...,4.25,4.50,5.00,A,6.50,6.36,6.99,K,TB,K

# Câu 9 Tạo các biến US_TBM1, US_TBM2 và US_TBM3 để chuyển điểm trung bình các năm lớp
# 10, 11 và 12 từ thang điểm 10 của Việt Nam sang thang điểm 4 của Mỹ.

In [15]:
df = dulieuxettuyendaihoc
for i in df["KT"].unique():
    str(i)
    df.loc[(i == "A1" or i == "A") & (((df["DH1"]*2 + df["DH2"] + df["DH3"])/4) >= 5), "KQXT"] = 1
    df.loc[(i == "A1" or i == "A") & (((df["DH1"]*2 + df["DH2"] + df["DH3"])/4) < 5), "KQXT"] = 0

    df.loc[(i == "B") & (((df["DH1"] + df["DH2"]*2 + df["DH3"])/4) >= 5), "KQXT"] = 1
    df.loc[(i == "B") & (((df["DH1"] + df["DH2"]*2 + df["DH3"])/4) < 5), "KQXT"] = 0
    df.loc[(i not in ("A","A1","B")) & (((df["DH1"] + df["DH2"] + df["DH3"])/3) >= 5), "KQXT"] = 1
    df.loc[(i not in ("A","A1","B")) & (((df["DH1"] + df["DH2"] + df["DH3"])/3) < 5), "KQXT"] = 0
print(df.head())

   STT   T1   L1   H1   S1   V1   X1   D1   N1   T2  ...   DH2   DH3  KT  \
0    1  7.2  7.3  6.3  7.3  7.0  7.9  7.3  5.5  8.4  ...  3.25  4.50  A1
1    2  5.4  3.9  3.9  4.0  5.4  5.4  5.3  2.8  6.3  ...  4.00  3.50   C
2    3  5.6  6.8  7.2  7.5  4.3  7.4  5.8  3.2  5.0  ...  6.75  4.00   C
3    4  6.6  6.4  5.3  6.9  5.4  7.3  6.4  5.8  5.1  ...  4.25  5.25  D1
4    5  6.0  5.0  6.0  7.3  6.5  7.7  7.9  6.1  5.4  ...  4.50  5.00   A

   TBM1  TBM2  TBM3  XL1  XL2  XL3  KQXT
0  7.00  7.54  7.01    K    K    K   0.0
1  4.69  5.47  5.07   TB   TB   TB   0.0
2  5.77  5.38  6.04   TB   TB   TB   1.0
3  6.21  5.20  6.88   TB   TB    K   0.0
4  6.50  6.36  6.99    K   TB    K   0.0

[5 rows x 63 columns]

In [16]:
processed_dulieuxettuyendaihoc = pd.read_csv("https://raw.githubusercontent.com/DuanWork/PhanTichDuLieu/main/DataAnalystDeepLearning/Data/dulieuxettuyendaihoc.csv")
print(processed_dulieuxettuyendaihoc)

    STT   T1   L1   H1   S1   V1   X1   D1   N1   T2  ...   X6   D6   N6  GT  \
0     1  7.2  7.3  6.3  7.3  7.0  7.9  7.3  5.5  8.4  ...  6.6  7.6  5.9   F
1     2  5.4  3.9  3.9  4.0  5.4  5.4  5.3  2.8  6.3  ...  6.6  6.1  4.4   M
2     3  5.6  6.8  7.2  7.5  4.3  7.4  5.8  3.2  5.0  ...  7.9  8.1  4.6   M
3     4  6.6  6.4  5.3  6.9  5.4  7.3  6.4  5.8  5.1  ...  7.1  7.3  7.4   M
4     5  6.0  5.0  6.0  7.3  6.5  7.7  7.9  6.1  5.4  ...  6.1  7.5  7.2   M
..  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ..
95   96  8.6  6.9  7.4  8.8  7.6  5.8  7.3  5.7  8.9  ...  6.3  6.1  6.2   F
96   97  3.7  5.4  6.0  5.1  5.5  3.9  6.1  4.4  4.1  ...  7.9  7.5  4.4   F
97   98  8.8  5.5  7.4  7.7  6.2  7.3  8.1  4.5  9.5  ...  9.6  8.4  5.8   M
98   99  2.7  1.8  3.4  5.3  4.5  7.9  4.9  3.8  2.8  ...  6.6  5.2  5.9   M
99  100  4.1  5.2  4.9  5.3  5.5  5.4  7.2  5.4  4.4  ...  5.6  6.6  5.8   M

    DT   KV   DH1   DH2   DH3  KT
0  NaN  2NT  3.25  3.25  4.50  A1
1  NaN    1  6.00  4.00  3.50   C
2  NaN    1  5.00  6.75  4.00   C
3  NaN    1  4.25  4.25  5.25  D1
4  NaN  2NT  4.25  4.50  5.00   A
..  ..  ...   ...   ...   ...  ..
95 NaN    1  5.25  1.50  6.25   C
96 NaN    1  5.25  3.75  4.75   C
97 NaN  2NT  7.00  8.00  4.00   C
98 NaN    1  5.00  3.50  5.50   C
99 NaN  2NT  5.25  2.50  4.25   C

[100 rows x 56 columns]